---
import Layout from '../layouts/Layout.astro';

const title = "Contacto"
---

<Layout title={title}>
    <div class="max-w-7xl mx-auto">
        <h1 class="text-7xl font-semibold">Hola como estas wei</h1>
    </div>
</Layout>
